<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width,initial scale=1" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href="~/Content/css/contactUs.css" rel="stylesheet" />
    <link href="~/Content/css/connexion.css" rel="stylesheet" />
    <link href="~/Content/SideBare/css/style.css" rel="stylesheet" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
</head>
<body>
    <!--Header-->
    <header id="header">
        <div class="wrapper">
            <div class="menu-toggler">
                <div class="bar half start"></div>
                <div class="bar"></div>
                <div class="bar half end"></div>
            </div>
            <a href="~/Home/Index">
            <img class="logo-768" src="~/Content/image/logo/logo.png" alt="" />
            </a>

                <div class="top-nav">
                    
                    <!--Partial Login-->
                    @Html.Partial("_Login")

                </div>
        </div>
    </header>

        @RenderBody()

    <!--Footer-->
    <footer>
        <div class="content wrapper">
            <div>
                <h3>Information</h3>
                <nav>
                    <ul>
                        <li><a href="/">À propos de nous</a></li>
                        <li><a href="">Delivery Information</a></li>
                        <li><a href="">Privacy Policy</a></li>
                        <li><a href="">Terms & conditions </a></li>
                    </ul>
                </nav>
            </div>
            <div>
                <h3>Account</h3>
                <nav>
                    <ul>
                        <li><a href="">My Account</a></li>
                        <li><a href="">contact</a></li>
                        <li><a href="">Panier</a></li>
                        <li><a href="">Checkout</a></li>
                    </ul>
                </nav>
            </div>
            <div>
                <h3>Extras</h3>
                <nav>
                    <ul>
                        <li><a href="">Brands</a></li>
                        <li><a href="">Special</a></li>
                        <li><a href="">Offre</a></li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="end wrapper">
            <div class="copy">
                <h4>all rights reserved &copy; 2020</h4>
            </div>

            <div class="payment">
                <nav>
                    <ul>
                        <li><img src="~/Content/image/PayIcons/paypal.svg" alt="" /></li>
                        <li><img src="~/Content/image/PayIcons/visa.svg" alt="" /></li>
                        <li><img src="~/Content/image/PayIcons/american-express.svg" alt="" /></li>
                        <li><img src="~/Content/image/PayIcons/discover.svg" alt="" /></li>
                        <li><img src="~/Content/image/PayIcons/mastercard.svg" alt="" /></li>
                        <li><img src="~/Content/image/PayIcons/mastercard-1.svg" alt="" /></li>
                    </ul>
                </nav>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="~/Content/js/kiwwwi-slider.min.js"></script>
    <script src="~/Content/js/menu.js"></script>
    <script src="~/Content/js/Slider.js"></script>
    <script src="~/Content/js/global.js"></script>
    <script src="~/Content/js/user.js"></script>
</body>
</html>
