@import url("https://fonts.googleapis.com/css?family=Philosopher&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@300;400;500&display=swap");

* {
  font-family: "Baloo Chettan 2", cursive;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  padding: 0 10px;
}
header {
  background-color: #5d683e;
}
/** header */
.header-nav {
  width: 100%;
  height: 77px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 64px;
}

.admin-logo {
  cursor: pointer;
  margin-right: 10%;
  width: 25%;
}

.navbar-brand h6{
    display: contents;
}

.logo {
  display: block;
  cursor: pointer;
  margin-right: 3%;
  margin-left: 5%;
  width: 70%;
}
.logo-768 {
  display: none;
}
.nav-Links {
  margin-right: 70px;
}
.nav-Links li {
  display: inline-block;
  margin: 0 12px;
}

.user-name {
  font-weight: 500;
  position: relative;
  cursor: pointer;
  margin: 0 0px 0 29px;
  
}

.user-name a {

    color: #e6e6e6;
}

.user-name a:hover {

    color: #fff;
}

.nav-Links li a {
  font-weight: 500;
  color: #e6e6e6;
  position: relative;
  cursor: pointer;
}
.nav-Links li a:hover {
  color: #ffffff;
}
.link::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0px;
  display: block;
  width: 0%;
  height: 2px;
  background: #ffffff;
  transition: width 0.3s;
}
.link:hover::after {
  width: 100%;
  transition: width 0.3s;
}

.nav-user {
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
}
.nav-user .search {
  position: relative;
  color: #ffffff;
  margin: 0px 5px;
}
.nav-user .search img {
  cursor: pointer;
  width: 20px;
  position: absolute;
  right: 3px;
  top: 4px;
}
.nav-user .search input {
  color: #ffffff;
  width: 150px;
  padding: 4px 27px 4px 0;
  font-size: 16px;
  font-family: "Baloo Chettan 2", cursive;
  outline: none;
  border: none;
  background: none;
}
.nav-user .search input::placeholder {
  color: #ffffff;
  opacity: 0.5;
  font-weight: 500;
}
.nav-user .search input:focus {
  color: #fbfbfb;
  width: 150px;
  font-weight: 500;
}
.nav-user .basket {
  position: relative;
  margin: 0 0px 0 10px;
}
.nav-user .basket img {
  width: 26px;
}
.nav-user .basket #nb-cart {
  background: #ec951c;
  position: absolute;
  top: -5%;
  right: -21%;
  height: 53%;
  width: 64%;
  border-radius: 50%;
  font-size: 17px;
  padding: 0px 0;
}
.nav-user .basket #nb-cart p {
  position: relative;
  top: -4px;
  left: 4px;
  color: wheat;
}

/** button animation  */
.btn-cnx {
  margin: 0 0px 0 29px;
  background: none;
  width: 110px;
  height: 34px;
  padding-bottom: 0px;
  background: #ec951c;
  font-size: 14px;
  color: white;
  border: none;
  text-transform: uppercase;
  font-family: "Palanquin", sans-serif;
  border-radius: 4px;
  transition: 0.6s;
  overflow: hidden;
  position: relative;
}

.btn-cnx:focus {
  outline: none;
}
.btn-cnx::before {
  content: "";
  display: block;
  position: absolute;
  background: #ffffff;
  width: 60px;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.5;
  filter: blur(30px);
  transform: translateX(-130px) skewX(-15deg);
}
.btn-cnx::after {
  content: "";
  display: block;
  position: absolute;
  background: rgba(255, 255, 255);
  width: 50px;
  height: 100%;
  left: 30px;
  top: 0;
  opacity: 0.5;
  filter: blur(30px);
  transform: translateX(-100px) skewX(-15deg);
}
.btn-cnx:hover {
  cursor: pointer;
}
.btn-cnx:hover::before {
  transform: translateX(300px) skewX(-15deg);
  opacity: 1;
  transition: 1s;
}
.btn-cnx:hover::after {
  transform: translateX(300px) skewX(-15deg);
  opacity: 1;
  transition: 1s;
}
/*  */

.navscroll {
  position: sticky;
  height: 77px;
  top: 0;
  background-color: #5d683e;
  z-index: 5;
}

/* end header */

/* Slider */
#slider {
  height: 88.3%;
  background-color: #5d683e;
}
#slider article {
  min-height: 100%;
  display: flex;
  margin: auto;
  align-items: center;
  font-family: sans-serif;
}

.slide-left,
.slide-right {
  top: 42%;
  padding: 0.5rem 1rem;
  font-family: sans-serif;
  font-size: 2rem;
  cursor: pointer;
  color: white;
  background-color: rgb(110, 125, 69, 0.25);
  border-radius: 50%;
}
.slide-left:hover,
.slide-right:hover {
  background-color: #6e7d45;
}

.slide-left {
  left: 2rem;
}

.slide-right {
  right: 2rem;
}

#slider article h1 {
  font-size: 2rem;
  padding: 20px 50px 13px 45px;
  font-size: 60px;
  text-transform: uppercase;
  color: #fafafa;
  font-family: "Philosopher", sans-serif;
  width: 50%;
}

#slider article p {
  color: white;
  padding: 0px 50px 10px;
  text-align: justify;
  font-size: 30px;
  width: 45%;
}

.button {
  margin-left: 50px;
}
#slider article:nth-of-type(1) .btn2 {
  margin: 0 0 0 10px;
}

/** button animation  */

.button .btn {
  background: none;
  width: 190px;
  height: 38px;
  padding-bottom: 3px;
  background: #ec951c;
  font-size: 17px;
  color: white;
  border: none;
  text-transform: uppercase;
  font-family: "Palanquin", sans-serif;
  border-radius: 4px;
  transition: 0.6s;
  overflow: hidden;
  position: relative;
}
.button .btn2 {
  background: none;
  width: 180px;
  height: 38px;
  text-transform: uppercase;
  padding-bottom: 3px;
  border: 1px solid #ec951c;
  font-size: 17px;
  color: #ec951c;
  font-family: "Palanquin", sans-serif;
  border-radius: 4px;
  transition: 0.6s;
  overflow: hidden;
  position: relative;
}
.button .btn:focus {
  outline: none;
}
.button .btn::before {
  content: "";
  display: block;
  position: absolute;
  background: #ffffff;
  width: 60px;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.5;
  filter: blur(30px);
  transform: translateX(-130px) skewX(-15deg);
}
.button .btn::after {
  content: "";
  display: block;
  position: absolute;
  background: rgba(255, 255, 255);
  width: 50px;
  height: 100%;
  left: 30px;
  top: 0;
  opacity: 0.5;
  filter: blur(30px);
  transform: translateX(-100px) skewX(-15deg);
}
.button .btn:hover {
  cursor: pointer;
}
.button .btn:hover::before {
  transform: translateX(300px) skewX(-15deg);
  opacity: 1;
  transition: 1s;
}
.button .btn:hover::after {
  transform: translateX(300px) skewX(-15deg);
  opacity: 1;
  transition: 1s;
}
/*  */

.button .btn2:focus {
  outline: none;
}
.button .btn2::before {
  content: "";
  display: block;
  position: absolute;
  background: rgba(255, 255, 255);
  width: 60px;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.5;
  filter: blur(30px);
  transform: translateX(-130px) skewX(-15deg);
}
.button .btn2::after {
  content: "";
  display: block;
  position: absolute;
  background: rgba(255, 255, 255);
  width: 50px;
  height: 100%;
  left: 30px;
  top: 0;
  opacity: 0.5;
  filter: blur(30px);
  transform: translateX(-100px) skewX(-15deg);
}
.button .btn2:hover {
  background: #ec951c;
  color: #fff;
  cursor: pointer;
}
.button .btn2:hover::before {
  transform: translateX(300px) skewX(-15deg);
  opacity: 1;
  transition: 1s;
}
.button .btn2:hover::after {
  transform: translateX(300px) skewX(-15deg);
  opacity: 1;
  transition: 1s;
}

/*  */
#slider article:nth-of-type(1) {
  background: #5d683e;
}
#slider article:nth-of-type(1) p,
#slider article:nth-of-type(1) h1 {
  width: 100%;
}
#slider article:nth-of-type(1) img {
  margin-right: 10%;
}
#slider article:nth-of-type(2) {
  color: white;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#slider article:nth-of-type(3) {
  background: #ffffff;
}
#slider article:nth-of-type(3) h1 {
  color: #6e7d45;
  width: 80%;
}

#slider article:nth-of-type(3) img {
  width: 27%;
  margin-right: 10%;
}
/* end slider */
/** features  */
#features {
  padding: 0px 0 70px;
  /* height: 70vh; */
}
#features h2 {
  font-size: 35px;
  padding-bottom: 30px;
  text-transform: uppercase;
  color: #6e7d45;
  font-family: "Philosopher", sans-serif;
}
.feature-row {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.feature-col {
  flex-basis: 25%;
  text-align: center;
  clip-path: polygon(
    58% 4%,
    83% 21%,
    94% 42%,
    88% 68%,
    80% 90%,
    50% 100%,
    20% 90%,
    0% 70%,
    5% 44%,
    30% 13%
  );
  background: #5d683e;
  padding: 40px 0px;
  border-radius: 0px 20%;
  transition: 0.2s;
  position: relative;
  overflow: hidden;
}

.feature-col::before {
  content: "";
  display: block;
  position: absolute;
  background: rgba(255, 255, 255);
  width: 60px;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  filter: blur(30px);
  transform: translateX(-130px) skewX(-15deg);
}
.feature-col::after {
  content: "";
  display: block;
  position: absolute;
  background: #ffffff;
  width: 50px;
  height: 100%;
  left: 30px;
  top: 0;
  opacity: 0;
  filter: blur(30px);
  transform: translateX(-100px) skewX(-15deg);
}
.feature-col:hover {
  background: #6e7d45;
  cursor: pointer;
}
.feature-col:hover::before {
  transform: translateX(400px) skewX(-15deg);
  opacity: 1;
  transition: 0.3s;
}
.feature-col:hover::after {
  transform: translateX(300px) skewX(-15deg);
  opacity: 1;
  transition: 0.3s;
}

.feature-col img {
  width: 70px;
}
.feature-col h4 {
  margin-bottom: 5px;
  padding: 0 20%;
  font-size: 20px;
  font-weight: 400;
  color: #f3f3f3;
}
/** end features */

/* first content */
#main-container-1 {
  background: url("../img/background/U1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 99vh;
}
#main-container-1 h2 {
  position: relative;
  padding: 23px 0;
  font-size: 35px;
  text-transform: uppercase;
  color: #6e7d45;
  font-family: "Philosopher", sans-serif;
}
#container-1 {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 10px;
  margin-left: 94px;
  margin-bottom: 15px;
}
.box-all {
  position: relative;
  width: 300px;
  height: 500px;
}
.box {
  position: relative;
  width: 300px;
  height: 320px;
  background-color: #000;
}

.box .img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.box .img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 1s ease;
}
.box .img img .quick {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  color: black;
  background-color: black;
}

.box .img:hover img {
  opacity: 0.5;
  transform: scale(1.1);
}
.box .content {
  position: absolute;
  bottom: -120px;
  left: 10%;
  width: 80%;
  height: 120px;
  text-align: center;
  padding: 5px;
  box-sizing: border-box;
  transition: 0.5s ease;
}

.box .content h3 {
  font-size: 19px;
  font-family: "Baloo Chettan 2", cursive;
  text-transform: uppercase;
  font-weight: 400;
  color: #000;
}
.box .content .price {
  margin: 0px 0 5px 0;
  font-size: 20px;
}
/** button animation  */

.box .content .btn {
  background: none;
  width: 160px;
  height: 33px;
  padding-bottom: 10px;
  background: #6e7d45;
  font-size: 17px;
  color: white;
  border: none;
  font-family: "Palanquin", sans-serif;
  border-radius: 4px;
  transition: 0.6s;
  overflow: hidden;
  position: relative;
}
.box .content .btn:focus {
  outline: none;
}
.box .content .btn::before {
  content: "";
  display: block;
  position: absolute;
  background: rgba(255, 255, 255);
  width: 60px;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.5;
  filter: blur(30px);
  transform: translateX(-130px) skewX(-15deg);
}
.box .content .btn::after {
  content: "";
  display: block;
  position: absolute;
  background: rgba(255, 255, 255);
  width: 50px;
  height: 100%;
  left: 30px;
  top: 0;
  opacity: 0.5;
  filter: blur(30px);
  transform: translateX(-100px) skewX(-15deg);
}
.box .content .btn:hover {
  background: #6e7d45;
  color: #fff;
  cursor: pointer;
}
.box .content .btn:hover::before {
  transform: translateX(300px) skewX(-15deg);
  opacity: 1;
  transition: 1s;
}
.box .content .btn:hover::after {
  transform: translateX(300px) skewX(-15deg);
  opacity: 1;
  transition: 1s;
}

/* end content */
/** second content  */
#main-container-2 {
  background: url("../img/background/U2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.container-2 {
  min-height: 100vh;
  display: flex;
  margin: 0 auto;
  align-items: center;
}
.cover {
  flex: 1;
  display: flex;
  justify-content: center;
  margin: 0px 5%;
}
.cover img {
  height: 82vh;
  /* width: 100%; */
  margin-left: 50px;
}
.intro .text-prod {
  margin: 0 5px 0 0;
}
.intro .text-prod h2 {
  font-size: 35px;
  text-transform: uppercase;
  color: #6e7d45;
  font-family: "Philosopher", sans-serif;
}
.intro .text-prod h4 {
  font-size: 30px;
  font-weight: 500;
  color: #6e7d45;
}
.intro .text-prod p {
  font-size: 18px;
  font-weight: 500;
  font-family: "Baloo Chettan 2", cursive;
  color: #3d3d3d;
  width: 90%;
  text-align: justify;
  margin: 15px 0;
}
.intro .btn-div {
  margin: 20px 0;
}
.intro .btn-div .btn {
  background: none;
  width: 170px;
  height: 35px;
  padding-bottom: 10px;
  border: 1px solid #6e7d45;
  font-size: 17px;
  color: #6e7d45;
  font-family: "Palanquin", sans-serif;
  border-radius: 4px;
  transition: 0.6s;
  overflow: hidden;
  position: relative;
}
.intro .btn-div .btn:focus {
  outline: none;
}
.intro .btn-div .btn::before {
  content: "";
  display: block;
  position: absolute;
  background: rgba(255, 255, 255);
  width: 60px;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.5;
  filter: blur(30px);
  transform: translateX(-130px) skewX(-15deg);
}
.intro .btn-div .btn::after {
  content: "";
  display: block;
  position: absolute;
  background: rgba(255, 255, 255);
  width: 50px;
  height: 100%;
  left: 30px;
  top: 0;
  opacity: 0.5;
  filter: blur(30px);
  transform: translateX(-100px) skewX(-15deg);
}
.intro .btn-div .btn:hover {
  background: #6e7d45;
  color: #fff;
  cursor: pointer;
}
.intro .btn-div .btn:hover::before {
  transform: translateX(300px) skewX(-15deg);
  opacity: 1;
  transition: 1s;
}
.intro .btn-div .btn:hover::after {
  transform: translateX(300px) skewX(-15deg);
  opacity: 1;
  transition: 1s;
}
/* end second */
/** footer */
footer {
  /* height: 280px; */
  background-color: #fff;
}
footer .content {
  width: 100%;
  max-width: 960px;
  padding: 25px 50px 20px;
  display: flex;
  flex-wrap: nowrap;
}
footer .content > div {
  padding-top: 10px;
  margin: 0 100px;
  justify-content: space-between;
}
footer .content div h3 {
  font-family: "Philosopher", cursive;
  color: #5d683e;
  text-transform: uppercase;
  font-size: 18px;
}

footer .content div nav ul li:nth-child(1) {
  padding: 15px 0 0 0;
}
footer .content div nav ul li {
  padding: 5px 0;
}
footer .content div nav ul li a {
  margin: 50px 0;
  cursor: pointer;
  font-size: 16px;

  color: #3d3d3d;
}

footer .content div nav ul li a:hover {
  color: black;
}

footer .end {
  display: flex;
}
footer .end > div {
  flex: 2;
}
footer .end .copy h4 {
  margin: 28px 0px 0 0;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
}
footer .end .payment {
  flex: 1;
  margin: 0 0 0 20%;
}
footer .end .payment ul li {
  display: inline;
  flex-wrap: nowrap;
}
footer .end .payment img {
  width: 28px;
  margin: 21px 1px 0px 5px;
}
/*  end footer */

/** contact */
#contact {
  background: #6e7d45;
  height: 200px;
}
.contact {
  display: flex;
  place-items: center;
  height: 200px;
}
.contact-info {
  display: flex;
  place-content: center;
  align-items: center;
}

.contact-info .contact-Icon {
  width: 15%;
}
.contact-info:first-child .contact-Icon {
  transform: rotate(-90deg);
}
.contact-info h3 {
  color: #fff;
  font-size: 23px;
  font-weight: 400;
  margin-left: 10px;
}

/* end contact */
@media screen and (max-width: 1200px) {
  body.hidden {
    overflow: hidden;
  }
  .wrapper {
    width: 71%;
    margin: 0 auto;
    padding: 0;
  }
  header {
    height: 70px;
  }
  .logo {
    display: none;
  }
  .logo-768 {
    display: block;
    cursor: pointer;
    padding-top: 0.5%;
    margin-left: 5%;
    width: 7%;
  }
  .nav-user .search input:focus {
    color: #5d683e;
    width: 250px;
  }
  .menu-toggler {
    position: absolute;
    top: 3%;
    right: 5rem;
    width: 2.5rem;
    height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1500;
    transition: transform 650ms ease-out;
  }
  .menu-toggler.navs {
    top: 25%;
  }
  .menu-toggler.open {
    transform: rotate(-45deg);
  }

  .bar {
    background: #ec951c;
    width: 100%;
    height: 4px;
    border-radius: 0.8rem;
  }

  .bar.half {
    width: 50%;
  }

  .bar.start {
    transform-origin: right;
    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  }

  .open .bar.start {
    transform: rotate(-450deg) translateX(0.5rem);
  }

  .bar.end {
    align-self: flex-end;
    transform-origin: left;
    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  }

  .open .bar.end {
    transform: rotate(-450deg) translateX(-0.5rem);
  }
  .top-nav {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 1000vh;
    left: 0;
    z-index: 150;
    background-color: #5d683e;
    border-top-right-radius: 100%;
    border-top-left-radius: 100%;
    transition: all 650ms cubic-bezier(1, 0, 0, 1);
  }
  .header-nav {
    list-style: none;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }
  .nav-user {
    margin-right: 50px;
    margin-bottom: 70px;
    margin-top: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .btn-cnx {
    display: none;
  }
  .nav-user .basket img {
    width: 35px;
  }
  .nav-user .basket #nb-cart p {
    top: -2px;
    left: 6px;
    font-size: 18px;
  }
  .nav-user .search input {
    width: 250px;
    padding: 2px 32px 2px 0;
    font-size: 18px;
  }
  .nav-user .search img {
    width: 28px;
    right: 3px;
    top: 0px;
  }
  .nav-Links {
    margin-right: 0;
  }
  .nav-Links li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
  }
  .nav-Links ul li:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0;
  }
  .nav-Links li a {
    font-size: 22px;
  }

  .top-nav.open {
    top: 0;
    width: 100%;

    border-radius: initial;
  }
  #slider article h1 {
    font-size: 40px;
    padding: 29px 50px 19px 40px;
  }
  #slider article p {
    padding: 0px 50px 10px;
    font-size: 22px;
  }
  .button .btn {
    width: 160px;
    height: 32px;
    font-size: 15px;
  }
  .button .btn2 {
    width: 156px;
    height: 32px;
    font-size: 15px;
  }
  .box-all {
    width: 250px;
  }
  .box {
    width: 250px;
  }
  #container-1 {
    margin: 0 auto;
    display: flex;
    width: 120%;
  }
  .feature-col {
    flex-basis: 50%;
    margin: 15px 0;
  }
  .container-2 {
    margin: 42px auto;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .intro .text-prod h2 {
    font-size: 25px;
    text-transform: uppercase;
    color: #6e7d45;
    font-family: "Philosopher", sans-serif;
  }
  .intro .text-prod p {
    font-size: 18px;
    font-weight: 400;
  }
  .intro .btn-div .btn {
    background: none;
    width: 150px;
    height: 31px;
    padding-bottom: 10px;
    border: 1px solid #6e7d45;
    font-size: 15px;
    color: #6e7d45;
  }
  .feature-col {
    clip-path: polygon(
      58% 4%,
      83% 21%,
      94% 42%,
      88% 68%,
      80% 85%,
      47% 98%,
      21% 90%,
      13% 68%,
      14% 44%,
      30% 13%
    );
  }

  .feature-col::before {
    content: "";
    display: block;
    position: absolute;
    background: rgba(255, 255, 255);
    width: 60px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    filter: blur(30px);
    transform: translateX(-130px) skewX(-15deg);
  }
  .feature-col::after {
    content: "";
    display: block;
    position: absolute;
    background: #ffffff;
    width: 50px;
    height: 100%;
    left: 30px;
    top: 0;
    opacity: 0;
    filter: blur(30px);
    transform: translateX(-100px) skewX(-15deg);
  }
  .feature-col:hover::before {
    transform: translateX(500px) skewX(-15deg);
    opacity: 1;
    transition: 0.3s;
  }
  .feature-col:hover::after {
    transform: translateX(500px) skewX(-15deg);
    opacity: 1;
    transition: 0.3s;
  }
  #contact {
    background: #6e7d45;
    height: 250px;
  }
  .contact {
    display: flex;
    flex-direction: column;
    height: 200px;
  }
  .contact-info:first-child {
    margin: 20px 0 10px 0;
  }
  .contact-info {
    display: flex;
    align-items: center;
  }
  .contact-info h3 {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-left: 10px;
  }
  .contact-info .contact-Icon {
    margin-right: 5px;
    width: 10%;
  }
}
@media screen and (max-width: 768px) {
  body.hidden {
    overflow: hidden;
  }
  .logo-768 {
    margin-left: 0%;
    width: 12%;
  }
  .wrapper {
    width: 71%;
    margin: 0 auto;
    padding: 0;
  }
  .box-all {
    width: 250px;
  }
  .box {
    width: 250px;
  }
  #container-1 {
    margin: 0 auto;
    display: flex;
    width: 120%;
  }
  .feature-col {
    flex-basis: 50%;
    margin: 15px 0;
  }
  .container-2 {
    margin: 50px auto;
    align-items: center;
    flex-direction: column;
    /* height: 100%; */
    width: 100%;
  }

  .cover img {
    height: 84vh;
  }
  .intro {
    margin: 0 11%;
  }
  .intro .text-prod h2 {
    text-align: center;
    font-size: 21px;
  }
  .intro .text-prod h4 {
    text-align: center;
    font-size: 20px;
  }
  .intro .text-prod p {
    font-size: 17px;
    margin: 13px 37px;
    text-align: center;
  }
  .intro .btn-div {
    margin: 20px 37%;
  }
  .intro .btn-div .btn {
    background: none;
    width: 150px;
    height: 31px;
    padding-bottom: 10px;
    border: 1px solid #6e7d45;
    font-size: 15px;
    color: #6e7d45;
  }
  .intro .btn-div .btn {
    background: none;
    width: 150px;
    height: 31px;
    padding-bottom: 10px;
    border: 1px solid #6e7d45;
    font-size: 15px;
    color: #6e7d45;
  }
  footer .content {
    padding: 10px 135px 20px;
    width: auto;
  }
  footer .content > div {
    padding-top: 10px;
    margin: 0 30px;
  }
  footer {
    height: auto;
  }

  footer .end > div {
    flex: 5;
  }
  footer .end .payment {
    flex: 5;
    margin-left: 20px;
  }
}
@media only screen and (max-width: 600px) {
  .wrapper {
    width: 51%;
    margin: 0 auto;
    padding: 0;
  }
  .logo-768 {
    padding-top: 2%;
    margin-left: 0%;
    width: 20%;
  }
  .container-2 {
    margin: 42px auto;
    align-items: center;
    flex-direction: column;
    /* height: 100%; */
    width: 100%;
  }
  .button .btn2 {
    width: 160px;
    height: 32px;
    font-size: 15px;
  }
  #slider article:nth-of-type(2) {
    background-color: #5d683e;
  }
  #slider article:nth-of-type(1) .btn2 {
    margin: 10px 0 0 0px;
  }
  #features h2 {
    margin-left: 40px;
  }
  .cover img {
    height: 84vh;
  }
  .intro {
    margin: 0 0 0 40px;
  }
  .intro .text-prod h2 {
    font-size: 21px;
    text-transform: uppercase;
    color: #6e7d45;
    font-family: "Philosopher", sans-serif;
  }
  .intro .text-prod h4 {
    font-size: 20px;
    font-weight: 500;
    color: #6e7d45;
  }
  .intro .text-prod p {
    font-size: 17px;
    font-weight: 400;
  }
  .intro .btn-div .btn {
    background: none;
    width: 150px;
    height: 31px;
    padding-bottom: 10px;
    border: 1px solid #6e7d45;
    font-size: 15px;
    color: #6e7d45;
  }

  .contact {
    display: flex;
    flex-direction: column;
    height: 200px;
  }
  .contact-info:first-child {
    margin: 20px 0 10px 0;
  }
  .contact-info {
    /* display: flex; */
    margin: 10px 0;
  }
  .contact-info h3 {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-left: 10px;
  }
  .contact-info .contact-Icon {
    margin-right: 5px;
    width: 12%;
  }
  footer .content {
    padding: 0px;
    width: auto;
  }
  footer .end {
    align-items: center;
    flex-direction: column;
  }
  footer .end .copy h4 {
    margin: 28px 0px 21px 0;
  }
  footer .end .payment img {
    margin: 5px 20px;
  }
}
