
@{
    ViewBag.Title = "OrderSuccess";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div id="content-wrapper">
    <div class="container-fluid">
        <div class="card-body">
            <h4>Your Order Has Been Placed Successfully. Please Click @Html.ActionLink("Here", "Index", "Home") To go To Home Page !</h4>
            </div>
        </div>
    </div>
