@{
    ViewBag.Title = "Contact";
}

<section id="contact-Us">
    <div class="contact-section">
        <div class="inner-width">
            <h1>Nous contacter</h1>
            <input type="text" class="name" placeholder="Votre Nom" />
            <input type="email" class="email" placeholder="Votre Email" />
            <textarea rows="10" placeholder="Message" class="message"></textarea>
            <button class="Env">envoyer</button>
        </div>
    </div>
</section>