@{
    ViewBag.Title = "Home";
}

<section id="main-header ">
    <div id="slider"
         style="position: relative;overflow-x: hidden;height: 505px;">
        <div class="slide-left">&#60;</div>
        <div class="slide-right">&#62;</div>
        <article>
            <div>
                <h1>Organic Argan Oil</h1>
                <p>
                    Argan oil is a pure and Ecocert certified oil. This deodorised
                    argan oil riched in vitamins, mineral and natural anti-oxidant.
                </p>
                <div class="button">
                    <button class="btn">Acheter Maintenant</button>
                    <button class="btn2">en savoir plus</button>
                </div>
            </div>    
            <img src="~/Content/image/Slider/unnamed.png" alt="" />
        </article>
        <article>
            <div>
                <h1>Organic Argan Oil</h1>
                <p>
                    Argan oil is a pure and Ecocert certified oil. This deodorised
                    argan oil riched in vitamins, mineral and natural anti-oxidant.
                </p>
                <div class="button">
                    <button class="btn2">en savoir plus</button>
                </div>
            </div>
        </article>
        <article>
            <div>
                <h1>découvrir Nos produits de qualité superieur</h1>
                <div class="button">
                    <button class="btn2">en savoir plus</button>
                </div>
            </div>    
            <img src="~/Content/image/Slider/03.jpg" alt="" />
        </article>
    </div>
</section>

<section id="main-container-2">
    <div class="container-2 wrapper">
        <div class="cover" data-aos="fade-right">
            <img src="~/Content/image/cream.png" alt="" />
        </div>
        <div class="intro" data-aos="fade-left">
            <div class="text-prod">
                <h2>
                    Argan Multi-Effective Hyaluronic Cream
                </h2>
                <h4>50 ml</h4>
                <p>
                    For all skin types. Deeply hydrates and rejuvenates the skin,
                    protecting it from the ravages of time, as well as the adverse
                    environmental influences. Increases skin’s consistency and
                    tightening, while also offering youthful appearance.
                </p>
            </div>

            <div class="btn-div">
                <button class="btn">Acheter Maintenant</button>
            </div>
        </div>
    </div>
</section>

<section id="features">
    <h2 class="wrapper" data-aos="fade-right">
        caractéristiques <br />
        du argan
    </h2>
    <div class="feature-row">
        <a href="" class="feature-col" data-aos="fade-up">
            <img src="~/Content/image/features/bio.svg" alt="" />
            <h4>100% pure et naturel</h4>
        </a>
        <a href="" class="feature-col" data-aos="fade-up">
            <img src="~/Content/image/features/olive-oil.svg" alt="" />
            <h4>D'où vient l'huile d'argan ?</h4>
        </a>
        <a href="" class="feature-col" data-aos="fade-up">
            <img src="~/Content/image/features/hair.svg" alt="" />
            <h4>excellent soin pour les cheveux</h4>
        </a>
        <a href="" class="feature-col" data-aos="fade-up">
            <img src="~/Content/image/features/skin.svg" alt="" />
            <h4>bénéfique pour la peau</h4>
        </a>
    </div>
</section>

<section id="main-container-1">
    <div class="wrapper">
        <h2 data-aos="fade-right">
            nos spécialités <br />
            du terroir
        </h2>
        <div id="container-1" data-aos="fade-up">
            <div class="box-all">
                <div class="box">
                    <div class="img">
                        <img src="~/Content/image/lhuile-d-argan.jpg" alt="" />
                    </div>
                    <div class="content">
                        <h3>Product Name</h3>
                        <div class="price">
                            <span style="text-decoration: line-through;">$60.00</span>&nbsp;&nbsp;$77.77
                        </div>
                        <button class="btn">Ajouter au panier</button>
                    </div>
                </div>
            </div>
            <div class="box-all">
                <div class="box">
                    <div class="img">
                        <img src="~/Content/image/lhuile-d-argan.jpg" alt="" />
                    </div>
                    <div class="content">
                        <h3>Product Name</h3>
                        <div class="price">
                            <span style="text-decoration: line-through;">$60.00</span>&nbsp;&nbsp;$77.77
                        </div>
                        <button class="btn btn2">Ajouter au panier</button>
                    </div>
                </div>
            </div>
            <div class="box-all">
                <div class="box">
                    <div class="img">
                        <img src="~/Content/image/lhuile-d-argan.jpg" alt="" />
                    </div>
                    <div class="content">
                        <h3>Product Name</h3>
                        <div class="price">
                            <span style="text-decoration: line-through;">$60.00</span>&nbsp;&nbsp;$77.77
                        </div>
                        <button class="btn btn2">Ajouter au panier</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contact">
    <div class="wrapper">
        <div class="contact" data-aos="fade-up">
            <div class="contact-info">
                <img src="~/Content/image/Support/phone.svg" class="contact-Icon" alt="" />
                <h3>(+212) 5 37 32 19 43</h3>
            </div>
            <div class="contact-info">
                <img src="~/Content/image/Support/letter.svg" class="contact-Icon" alt="" />
                <h3>Contact@argan.com</h3>
            </div>
            <div class="contact-info">
                <img src="~/Content/image/Support/support.svg" class="contact-Icon" alt="" />
                <h3>Support@argan.com</h3>
            </div>
        </div>
    </div>
</section>